.item{
  color:bisque;
  display: flex;
  align-items: center;
}

.item img{
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.message{
  margin-left: 10px;
}

.likes{
  margin-left: 10px;
  color: floralwhite;
}